.button-flex {
    display: flex;
    justify-content: space-between;
}
.button-item{
    flex: 0.17;
}
.section-button-item{
    flex: 0.12;
}
.cost-center-button-item{
    flex: 0.17;
}
.content-flex {
    display: flex;
    justify-content: space-between;
}
.bordered{
    border-style: groove;
}
.profile {
    .header {
        text-transform: capitalize;
        font-weight: 600;
    }
    .panel-heading {
        text-align: center;
    }
    .avatar {
        width: 60%;
    }
    .avatar-container {
        text-align: center;
        .thumbnail {
            display: inline;
            margin-bottom: 0;
        }
    }
    .asset-info {
        font-weight: 600;
        font-size: 0.9em;
    }
    .details-container {
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        .asset-label{
            font-weight: 600;
            font-size: 0.9em;
        }
        .asset-label {
            color: darken(#a9a9a9, 5);
        }
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid lighten(#E13F30, 38);
        margin: 5px 0;
        padding: 0;
    }
}
.bordered {
    border:1px solid #ddd!important
}

.modal-footer-molepe {
    padding: 15px;
    text-align: right;
}

.modal-header-molepe {
    padding: 15px;
}